[2020-01-10 20:07] funketh opened #1 "Krümmung des Kreisverkehrs anpassbar machen"

[2020-01-10 20:07] funketh opened #2 "Kreisverkehr"
3f9d732

Denke man braucht zum erstellen eines kreisverkehrs nur die Info, wo die Ein-/Ausfahrten sein sollten (und welche Krümmung alle Kurven haben [#1]).
Dann sollten die T-Kreuzungen dort automatisch erstellt werden und durch entsprechende gekurvte Straßen verbunden werden.

[2020-01-10 20:15] funketh opened #3 "Programmierkonventionen"
[**Unity Coding Guidelines**](https://avangarde-software.com/unity-coding-guidelines-basic-best-practices/)

Dem hinzufügen würde ich vielleicht:
- Private Attribute: `_trafficSimulator` (Unterstrich vor dem Variablennamen)

_Edit: Update link_

[2020-01-10 23:10] RichardKarlFuchs commented on #3
Ich würde auch noch:
- Konstanten: `TIME_STEP` (Großbuchstaben und Unterstrich)

Eigentlich ist es `TimeStep` aber das ist leichter erkennbar und führt zu keinen Verwechslungen mit Methoden

[2020-01-10 23:13] RichardKarlFuchs commented on #1
Anpassbar in der Hinsicht, dass er nicht unbedingt rund sein muss?

[2020-01-10 23:15] funketh commented on #1
Naja Krümmungsstärke/ -Winkel

On Sat, 11 Jan 2020, 00:13 Richard Fuchs, <notifications@github.com> wrote:

[2020-01-10 23:21] RichardKarlFuchs commented on #2
Ein Kreisverkehr sollte die Möglichkeit haben drei Ausfahrten zu haben.

[2020-01-10 23:25] funketh commented on #2
Hatte gedacht man könnte die Felder entsprechend auf `null` setzten, aber
seperate Klassen erscheinen mir jetzt doch sinnvoller.

On Sat, 11 Jan 2020, 00:21 Richard Fuchs, <notifications@github.com> wrote:

[2020-01-10 23:27] RichardKarlFuchs commented on #2
Vielleicht wäre eine Art Array für Ein/Ausfahrten auch sinnvoll.

[2020-01-10 23:30] funketh commented on #2
Ist wahrscheinlich die beste Option

On Sat, 11 Jan 2020, 00:27 Richard Fuchs, <notifications@github.com> wrote:

[2020-01-12 18:33] funketh opened #4 "Erstellen von Szenarios"
Möglicherweise hilfreich zur Generierung auf Basis einer Textdatei bzw. während das Spiel läuft: https://catlikecoding.com/unity/tutorials/hex-map/part-18/

[2020-01-14 13:48] RichardKarlFuchs opened #5 "Veränderungen 2020-01-14"
- `Anchor` hat position, startingLanes und endingLanes
- `Road` hat zwei Anchor
- `Crosssection` hat 4 Anchor, (0,1,2,3)
- `Roundabout` hat beliebig viele Anchor (Array / List)
- Straßenform statt Krümmungrichtung & Kein Länge mehr
- `Car.direction` als `enum`

[2020-01-14 13:50] RichardKarlFuchs commented on #3
- Wenn begrenzt viele Werte: `enum` statt `String`

[2020-01-14 14:29] RichardKarlFuchs opened #6 "Verteilung"
Grafik-Modellierung:
- Dominic

Qualitätssicherung (Tests, Pull Requests):
- Ingmar (@1NG3M4R)
- @funketh
- Mark (@Shafma)
- Richard (@rrickfox)
- JP (@Sidlertime)

Entwickler:
- Konstantin (@konstigod)
- Dominic
- Robert (@RobertEggert)
- Ole (@oh-trentmann)
- @funketh
- Mark (@shafma)
- Ingmar (@1NG3M4R)
- Jean-Pasqual (@Sidlertime)
- Richard (@rrickfox)

Streitschlichter:
- Ole (@oh-trentmann)

[2020-01-14 14:43] RichardKarlFuchs opened #7 "Car-AI (Autobahn)"
Auto, das geradeaus fährt, ohne mit Autos vorne und hinten zu kollidieren.
- Vorne & hinten nach Autos prüfen
- Geschwindigkeitsbegrenzung
- Beschleunigen & Bremsen (realistisch)

[2020-01-14 14:49] RichardKarlFuchs opened #8 "Car spawner"
- Autos haben Wunschgeschwindigkeit, Startpunkt, Zielpunkt

[2020-01-14 14:49] RichardKarlFuchs opened #9 "Pathfinding"
- Weg von Start zu Ziel

[2020-01-14 14:51] RichardKarlFuchs opened #10 "Laden eines Straßennetzes aus einer Datei"
- Straßennetze
- Autokonstellation
- Zielsetzung

[2020-01-14 14:53] RichardKarlFuchs commented on #1
#5

[2020-01-14 14:53] #1 closed, assigned to nobody

[2020-01-14 14:54] RichardKarlFuchs commented on #2
#5

[2020-01-14 14:54] #2 closed, assigned to nobody

[2020-01-14 14:55] RichardKarlFuchs commented on #10
#4

[2020-01-14 14:57] RichardKarlFuchs opened #11 "GUI"
Menü:
- [x] Main Menu
- [x] Settings

Während der Simulation
- [x] Kamera Position

[2020-01-14 17:00] RichardKarlFuchs opened #12 "Road spawner"
Das Anzeigen von Straßen

[2020-01-15 13:28] RichardKarlFuchs commented on #10
Vorschlag: Man speichert eine Liste von Knotenpunkten mit id's, man weist straßen und Kreuzungen zwei Punkte zu und jedenm Auto eine Straße. Dadurch kann man glaub ich relativ leicht Straßen finden, auf denen es weitergehen kann.
Was hältst du davon @funketh?

[2020-01-15 13:44] RichardKarlFuchs commented on #5
f2a16c2

[2020-01-15 13:44] #5 closed, assigned to RichardKarlFuchs

[2020-01-15 16:51] Shafma commented on #9
Kann es sein, dass dieses Issue derweil extrem von #10 abhängt?
Kann natürlich auch sein, dass ich dort den Umfang falsch verstehe, weil es so vage formuliert ist, aber ich glaube ohne zu wissen woran sich das Pathfinding orientieren soll, kann man hier nur schlecht anfangen.

[2020-01-15 18:20] RichardKarlFuchs commented on #9
Vorschlag @Shafma: Anstatt Von jedem Startpunkt zu jedem Endpunkt eine Route zu suchen, kann man auch von jedem Punkt die jeweils möglichen nächsten Punkte suchen und dann einen davon mit einer gewissen wahrscheinlichkeit auswählen, welcher dann das nächste Ziel ist. Bei diesem Punkt angekommen wiederholt sich das Ganze. Wenn ich mich nicht irre sollte das die Anzahl der gespeicherten Verbindungen

[2020-01-15 18:43] RichardKarlFuchs commented on #7
Anregung:
- https://www.behrisch.de/de/lehre/lvws0809/verkehr/folgemodelle1.pdf (Folie 9-15)
- https://www.ipd.kit.edu/mitarbeiter/damast/seminar/FAS2007/pdfs/FAS2007_Pavlidis_Fahrerassistenzsysteme_Ausarbeitung.pdf (Erklärt das Wiedemann Modell, Deutsch)
- http://onlinepubs.trb.org/onlinepubs/conferences/2011/RSS/3/Higgs,B.pdf (Nochmal Wiedemann mit mehr Details, Englisch)

[2020-01-15 19:16] RichardKarlFuchs commented on #9
Ok habe mich anscheinend geirrt, es könnte aber trotzdem leichter zu implementieren sein...

[2020-01-16 15:34] RichardKarlFuchs opened #14 "Datenstruktur (Sprint 1)"
- Punkte haben Koordinaten
- Straßen haben zwei Punkte
- T-Kreuzungen haben drei Straßen und drei Punkte
- Kreuzungen haben 4 straßen und 4 Punkte
- Kreisverkehre haben beliebig viele Punkte und genauso viele Straßen

[2020-01-16 15:35] RichardKarlFuchs commented on #14
#13

[2020-01-16 15:36] RichardKarlFuchs commented on #14
Warum müssen Nodes die Anzahl der Ankommenden bzw. Abgehenden Spuren speichern? Eigentlich sollte das aus den Straßen ersichtlich sein...

[2020-01-16 19:25] RichardKarlFuchs commented on #7
Die Klasse `car_ai` wird ja durch einen `simulation_controller` aufgerufen, daher braucht sie ja eigentlich keine Update Funktion. Es sollte aber möglich sein erst eine Bewegung zu planen, ohne das Auto sofort zu bewegen, damit alle Autos quasi sich gleichzeitig bewegen. Es wenn alle Autos wissen was passiert, bewegen sie sich.

[2020-01-16 19:43] funketh commented on #7
Können nicht alle Autos `FixedUpdate` nutzen?

[2020-01-16 20:26] Shafma commented on #9
Will hier nochmal kurz festhalten, dass ich dafür bin, das nicht nach dem oberen Vorschlag von Richard zu machen, sondern tatsächlich als Pathfinding. Nicht nur scheint das der grundsätzliche Ansatz in den meisten Implementationen zu sein, es wäre auch konsistent mit unserer mikroskopischen Simulation des Verkehrs, die ja auch versucht Fahrverhalten der Autos abbzubilden.

[2020-01-16 20:43] RichardKarlFuchs commented on #9
Alles klar

[2020-01-16 20:45] RichardKarlFuchs commented on #7
Das Problem wenn man FixedUpdate nutzt ist halt, dass nicht geregelt ist, wie die Autos sich bewegen. Wenn sich Auto 1 erst bewegt, und dann erst das Auto dahinter denkt Auto 1 ständig, dass es mehr Platz hat. Deswegen finde ich, sollten erst alle Autos wissen, was sie machen und dann sich bewegen.

[2020-01-16 21:03] funketh commented on #7
Ok, verstehe.
Relevanter Link zu dem Problem:
https://forum.unity.com/threads/is-there-some-kind-of-late-fixed-update.389006/

[2020-01-16 23:38] funketh commented on #4
#10

[2020-01-16 23:38] #4 closed, assigned to nobody

[2020-01-16 23:47] funketh commented on #14
Notizen für die Diskussion am 17.01.

- Kreuzungen: Schienen mit Weichen (Autos checken, ob Schiene vor ihnen frei ist)
Weichenauswahl durch gewünschten Pfad des Autos eindeutig bestimmt
- Fürs Pathfinding [#9] sollte jeder Schienenursprung/-ende = Straßenspurenursprung/-ende = 1 Node
- 1 Straße = 1 dicke Kante, die mehrere Nodes mit genauso vielen Nodes verbindet und auf der man sich (durch Regel

[2020-01-18 16:41] Shafma commented on #9
Zumindest für den ersten Sprint werden Autos erstmal fest ihrer Route folgen, selbst wenn sich die Straßensituation ändert und das möglicherweise nicht mehr optimal ist.

[2020-01-19 00:56] funketh commented on #7
Die Kollisionserkennung (AI auf Straßen) ist bis jetzt in der Datenstruktur #14 noch nicht möglich (Straßen speichern noch nicht, welche Autos auf ihnen fahren).
Wäre es sinnvoll, dies über Unity zu machen? Sonst müsste man entweder sein eigenes Koordinatensystem machen oder bei jedem Auto jedes andere Auto auf der Straße durchgehen.

[2020-01-19 01:28] funketh commented on #3
Nicht wirklich programmieren, aber ähnliche Commits sollten gesquashed werden, um Übersichtlichkeit beizubehalten.
Branches, die nur sehr ähnliche Commits enthalten, sollten durch squashen gemerged werden.

[2020-01-19 21:40] RichardKarlFuchs commented on #7
Im Moment sind die Autos in Listen mit Straßen gegliedert, jede dieser Listen hatt dann eine Liste mit Autos. Genausogut kann man auch direkt alle Straßen die auf ihnen befindlichen Autos speichern lassen. Das macht, denke ich, keinen großen Unterschied

[2020-01-19 22:06] funketh commented on #14
Diskussion in #16 ergibt:
- Anchor verbinden stets eine Straße mit einem Vertex
- Merges und Splits müssen durch Vertices symbolisiert werden

[2020-01-19 22:14] funketh commented on #14
TODO: Einschränkung der Abbiegrichtungen der Lanes der Anchors, welche an TeeSection grenzen. (nicht im 1. Sprint relevant)

[2020-01-19 22:27] funketh commented on #8
Spawnen sollte auf `Spawnpoint`s passieren, welche ne Unterklasse von `Vertex` sind, die 1 Anchor haben.
Dies ist für das Pathfinding notwendig.
Ich schlage vor, dass Spawnpoints graphisch ähnlich wie Sackgassen aussehen (Kreis).

[2020-01-19 22:33] funketh commented on #9
Vielleicht ein Feld `private bool Vertex._isGoal` hinzufügen (anderes Wort als goal wahrscheinlich)?
Wäre dann nen optionaler Parameter im `Vertex` constructor mit dem default Wert `false`.
Unterklassen wie Spawnpoints könnten dieses Feld auf `true` setzen, um zu signalisieren, dass das Pathfinding hier anfangen/enden kann.
https://github.com/rrickfox/traffic-sim/blob/b36b79511fab5818cb34080dd6b48

[2020-01-19 22:40] funketh opened #20 "Road/Anchors/Edge (Datenstruktur)"
- ~Einschränkung der Abbiegrichtungen der Lanes der Anchors, welche an TeeSection grenzen~

~_Originally posted by @funketh in https://github.com/rrickfox/traffic-sim/issues/14#issuecomment-576053279_~

Verschoben nach: #29

[2020-01-19 23:10] funketh opened #21 "Milestones statt Projects?"
https://stackoverflow.com/a/39701381
Wirkt auf mich so, als würden Milestones besser in unseren Scrum-Workflow passen.
@rrickfox

[2020-01-20 05:52] RichardKarlFuchs commented on #8
Dafür muss ja erstmal die Datenstruktur germerged sein

funketh <notifications@github.com> schrieb am So., 19. Jan. 2020, 23:27:

[2020-01-20 16:30] RichardKarlFuchs commented on #21
Da wir relativ ungenaue Issues gesetzt haben, fand ich, dass ein project besser passt. Theoretisch ist es ja so, dass Issues eine gewisse Priorität haben und nur für einen bestimmten Sprint gelten. Da ich aber damit gerechnet habe, dass wir nicht alle issues in einem Sprint fertig kriegen, ist es leichter ein Project anzulegen. Außerdem hat man da eine bessere Visualisierung und sieht, wie weit ma

[2020-01-20 16:37] rrickfox commented on #3
Soll aber nicht heißen, dass alle Branches durch squashen gemerged werden, richtig?

[2020-01-20 16:54] funketh commented on #3
Doch, denke schon. Der Punkt ist, dass es immer viel zu viele Commits gibt, um ihnen sinnvolle Informationen zu entnehmen. Außerdem arbeiten ältere Commits häufig mit nem ganz anderen Datenmodell als neuere, was sie ziemlich sinnlos macht.

Der gesquashte Commit kann ja sehr ausführlich sein. Dann versteht man auch wenigstens alle Änderungen eines Pull Requests durch lesen einer Commit-Nachricht.

[2020-01-20 17:04] funketh commented on #21
Ich denke wir sollten allgemein die **Issues kleiner und zielgerichteter ansetzen** (nicht sowas wie "Datenstruktur"), ganz egal ob wir jetzt Milestones oder Projects nutzen.
Der Sinn von Issues ist ja auch, dass man sie irgendwann schließen kann, was bei Issues wie Datenstruktur eigentlich nie passieren wird.

Kann nur für mich sprechen, aber ich habe bis jetzt noch nie wirklich den Project Tab w

[2020-01-20 17:43] funketh commented on #10
Für den 1. Sprint sollten wir nur das Laden aus einer Textdatei ansetzen, alles weitere später

[2020-01-20 18:09] RichardKarlFuchs commented on #10
Gegebenenfalls nicht mal im ersten, sondern vielleicht erst im zweiten Sprint

[2020-01-20 19:17] konstibob commented on #9
Was ist der derzeitige Stand des Entwurfes?

[2020-01-20 19:30] funketh opened #22 "Nur squash merging erlauben"
@rrickfox
Erlaube in den einstellungen mal nur squash merging
https://help.github.com/en/github/administering-a-repository/configuring-commit-squashing-for-pull-requests

[2020-01-20 19:35] RichardKarlFuchs commented on #22
Ist bereits erlaubt

[2020-01-20 19:41] funketh commented on #22
Ich meinte, dass die anderen methoden verboten werden (rebase & normales mergen)

[2020-01-20 21:03] #22 closed, assigned to nobody

[2020-01-20 23:00] funketh commented on #3
Es wurde sich geeinigt, dass bei Pull Requests immer normale Merges ausgeführt werden.
Wichtig ist jedoch, dass die dem Merge beigefügte Nachricht **sämtliche Commits des Branches zusammenfasst**, sodass man sich nicht die einzelnen Commits durchlesen muss.

[2020-01-21 09:42] #14 closed, assigned to RichardKarlFuchs, Shafma, funketh

[2020-01-21 12:01] RichardKarlFuchs opened #24 "Car despawner"
Autos despawnen, wenn sie einen endingVertex erreichen

[2020-01-21 12:08] RichardKarlFuchs opened #25 "Performance testing"
- Laufzeitverhalten
- Datentypenvergleich
- Caching von Daten

[2020-01-21 12:30] RichardKarlFuchs opened #26 "access section from anchor"

[2020-01-21 12:31] RichardKarlFuchs opened #27 "3D Modelle"

[2020-01-21 16:42] RichardKarlFuchs commented on #25
https://docs.unity3d.com/Manual/MobileOptimizationPracticalScriptingOptimizations.html

[2020-01-21 21:43] funketh commented on #26
Diskussion mit @Shafma ergab, dass es einige generelle Konflikte zwischen den Anforderungen an die Datenstruktur seitens des Pathfindings (#9) und seitens der graphischen Umsetzung gibt.

[2020-01-21 21:46] RichardKarlFuchs commented on #26
Was wäre denn ein Beispiel für diese Konflikte?

funketh <notifications@github.com> schrieb am Di., 21. Jan. 2020, 22:43:

[2020-01-21 21:49] Shafma commented on #26
Die Anchor sind zwar schön, aber für's Pathfinding (#9) relativ ungünstig und beinhalten Redundanzen (siehe dieses Issue). Außerdem machen wir uns Sorgen um eventuelle Implikationen für die Implementierung von Einbahnstraßen, die das gesamte Konzept des Graphen sprengen.

[2020-01-21 21:51] funketh commented on #26
Bild zum Problem [hier](https://imgur.com/VfR8NdQ) und [hier](https://www.youtube.com/watch?v=dQw4w9WgXcQ)
EDIT: und [hier](https://www.gnu.org/) bzw. [hier](https://www.fsf.org/)

[2020-01-21 22:02] RichardKarlFuchs commented on #26
Ich sehe das Problem der Redundanzen, allerdings nicht die unnutzbarkeit
für das Pathfinding und das Problem der Einbahnstraßen. Bei denen wäre es
ja eben genau gut zu wissen, wie viele Spuren es im Anchor gibt...

Shafma <notifications@github.com> schrieb am Di., 21. Jan. 2020, 22:49:

[2020-01-21 22:58] funketh commented on #26
Erstmal ne Feststellung: Anchors sind eklig, weil sie in beide Richtungen
funktionieren müssen

Dann:
Die Probleme liegen beim Pathfinding. Für das Pathfinding ist die Kreuzung
1 Knoten und jede Straße 1 *ungerichtete* Kante. D.h. es gibt bei
Einbahnstraßen keinen Weg zu wissen, ob die Straße nur zur Kreuzung
hinführt oder nur von ihr wegführt. Es wird immer angenommen, das beides
geht.

Die Lösun

[2020-01-22 13:04] funketh commented on #26
Ansatz, bei dem man keine Anchor braucht:
[code]
in `vertices` sind die mappings vertex1 => vertex2 sowie vertex2=> vertex1 enthalten.
Koordinaten fehlen noch, aber die kann man auch wie die Lanes speichern.

[2020-01-22 13:39] RichardKarlFuchs commented on #26
Wir sollten diese Diskussion in #20 weiterführen.

[2020-01-22 13:40] RichardKarlFuchs commented on #20
Fortsetzung der angefangenen Diskussion aus #26

[2020-01-22 13:43] RichardKarlFuchs commented on #20
Wie wäre es, wenn `Road` auch noch zwei `Point` Objekte hat? Dann wäre die Erstellreihenfolge 2 * `Point` -> `Road` -> `Vertex`. Dabei haben wir die `points` wieder nur für die Koordinaten und der `Vertex` verweist auf die `Road` und umgekehrt. Dann kann man die Anchor halt meinetwegen weglassen.

[2020-01-22 22:02] funketh commented on #20
Eine vollständige Implementation der Idee aus #26:
[code]
Der Punkt ist, dass man entweder:
* wie hier Methoden erstellt, um die Daten auf den Vertex zuzuschneiden, von dem man die Road betrachtet, aber die Vertices beide das gleiche Road Objekt besitzen
* beiden Vertices ihr eigenes RoadView Objekt gibt, wobei die beiden RoadView Objekte durch Properties ihre Daten teilen

Beides nicht super schö

[2020-01-22 22:03] #26 closed, assigned to funketh

[2020-01-22 22:07] funketh opened #29 "Abbiegen an Kreuzungen"
- [x] Einschränkung der Abbiegrichtungen der Lanes der Anchors, welche an TeeSection grenzen

_Originally posted by @funketh in https://github.com/rrickfox/traffic-sim/issues/14#issuecomment-576053279_

[2020-01-23 12:17] funketh commented on #20
Implementation des 2. Ansatzes
[code]

[2020-01-23 17:03] domiblack commented on #21
Das sehe ich genauso wie funketh !

[2020-01-23 22:25] funketh opened #31 "Assets/Packages.meta ist bei jedem individuell"
sollte in .gitignore

[2020-01-23 23:08] funketh opened #34 "backlog entfernen?"
* würde stattdessen später geplante sachen immer in den nächsten sprint auf todo packen
* das project hat zu viele Spalten
* sonst muss eigtl alles was im 2. sprint geplant ist auch zum backlog im 1. hinzugefügt werden, was nervt

@rrickfox

[2020-01-23 23:13] RichardKarlFuchs commented on #34
Hast Recht, mache ich

funketh <notifications@github.com> schrieb am Fr., 24. Jan. 2020, 00:08:

[2020-01-23 23:15] funketh opened #35 "Edges der Vertices in Dictionaries statt als einzelne Felder speichern"
* sonst müsste für jedes feld ne property geschrieben werden, um es in Sync mit dem internen Array an Edges zu halten
* bei nem dictionary kann man setter sonst auch allgemein in einer einzigen Methode `SetEdge(key, edge)` abfertigen
* entfernt das redundante speichern aller felder in einem seperaten array (man kann einfach über das dictionary iterieren)

[2020-01-23 23:17] funketh commented on #35
Für Vertices mit ner variablen anzahl an edges kann man ne Dictionary ähnliche datenstruktur verwenden, die als Keys einfach integers hochzählt oder ähnliches (--> einheitlicheres Interface für alle Vertices)

[2020-01-23 23:19] funketh commented on #34
hab schon

[2020-01-23 23:19] #34 closed, assigned to nobody

[2020-01-23 23:23] funketh opened #36 "develop als default branch auf GitHub einstellen?"
* nervt bisschen, dass man von der homepage des projekts immer erst den branch wechseln muss
* nervt auch, dass das default beim PR erstellen der master ist

@rrickfox

[2020-01-23 23:27] funketh opened #37 "branch wechseln ändert nicht die aktive Szene?"
mehr so nen unity issue, aber wenn ich nen branch mit ner anderen szene checkoute und dann diese anklicke, kann ich nach dem zurückwechseln diese nicht mehr loswerden.
restarten hilft auch nicht

[2020-01-24 05:56] RichardKarlFuchs commented on #36
Master ist halt standardmäßig der default branch, damit man sofort eine
funktionstüchtige Version hat, da der Master quasi alle releases enthält.
Solange wir aber noch keine releases haben, können wir den develop auch als
default setzen.

funketh <notifications@github.com> schrieb am Fr., 24. Jan. 2020, 00:23:

[2020-01-24 06:02] RichardKarlFuchs commented on #37
Wenn der Trick mit dem "immer Unity beim checkout geschlossen haben" dabei
auch nicht funktioniert oder es schon zu spät ist, musst du die szenendatei
und ggf eine meta Datei löschen. Genauso wenn man von einem branch mit den
packages in einen branch ohne die packages wechselt.

funketh <notifications@github.com> schrieb am Fr., 24. Jan. 2020, 00:27:

[2020-01-24 07:13] #37 closed, assigned to nobody

[2020-01-24 07:16] #36 closed, assigned to nobody

[2020-01-24 08:03] RichardKarlFuchs opened #38 "road shape"
* Form einer Straße festlegen
* Oberfläche als Textur

[2020-01-24 08:09] RichardKarlFuchs opened #39 "grafische Kreuzungsverbindung"
* Verbinden von den Edges
* Nutzung von RoadShape

[2020-01-26 12:22] #31 closed, assigned to funketh

[2020-01-26 12:23] funketh commented on #20
#33

[2020-01-26 12:23] #20 closed, assigned to funketh

[2020-01-27 14:42] domiblack commented on #27
Ich hab eine Kreuzung und eine T-Kreuzung modelliert und eine zweispurige Straße ich check grad nicht wie ich die hochladen soll
Texturen sind noch nicht drauf btw.

[2020-01-27 23:40] RichardKarlFuchs commented on #12
b490721

[2020-01-27 23:40] #12 closed, assigned to RichardKarlFuchs, RobertEggert

[2020-01-28 19:11] #7 closed, assigned to oh-trentmann

[2020-01-28 20:03] RichardKarlFuchs commented on #8
#18

[2020-01-28 20:03] #8 closed, assigned to RichardKarlFuchs

[2020-01-28 22:47] RichardKarlFuchs opened #42 "rotation of road & cars"
Straße rotiert in die Falsche Richtung, Autos mal Richtige Richtung, mal falsche Richtung

[2020-01-29 17:54] RichardKarlFuchs commented on #42
#43

[2020-01-29 17:54] #42 closed, assigned to RichardKarlFuchs

[2020-01-29 20:26] #24 closed, assigned to 1NG3M4R

[2020-01-30 23:04] #21 closed, assigned to nobody

[2020-01-31 00:07] Shafma opened #48 "Probleme mit Spawner-Objekten"
Wie euch bestimmt schon aufgefallen ist, wenn ihr die Simulation startet, gibt es bei der Instanziierung von den Spawner-Objekten einen Error in Unity.
(z.B. _CarDespawner must be instantiated using the ScriptableObject.CreateInstance method instead of new CarDespawner._)
Zum einen ist die vorgeschlagene Änderung nicht lauffähig, da unsere Objekte Prefabs benötigen, die wir nicht in die CreateInst

[2020-01-31 09:03] oh-trentmann opened #49 "AI - dynamischer Abstand"
Die Autos können um sich gucken und passen ihre Geschwindigkeiten anderen Autos an.

[2020-01-31 10:17] RichardKarlFuchs commented on #48
`CarSpawner` und `CarDespawner` müssen von `ScriptableObject` erben, damit
sie die `Instatiate` bzw. `Destroy` aufrufen können. Eine reguläre Klasse
ist dazu nicht in der Lage.

Allerdings ist es durchaus möglich die `EndPoints.SpawnCars` in die
CarSpawner Klasse auszulagern, entsprechend der DespawnCars Methode.

Shafma <notifications@github.com> schrieb am Fr., 31. Jan. 2020, 01:07:

[2020-01-31 10:26] funketh commented on #48
sie die `Instatiate` bzw. `Destroy` aufrufen können. Eine reguläre Klasse
ist dazu nicht in der Lage.

Stimmt so nicht, hab es so eben ausprobiert. Man muss halt statt `Instantiate` `Object.Instantiate nutzen`, (was wir sogar schon redundanterweise an einer Stelle so getan hatten).
Ich erstelle mal nen pull request

[2020-01-31 10:38] RichardKarlFuchs commented on #48
Die Frage bleibt jedoch, welchen Vorteil die nicht Vererbung hat.

[2020-01-31 10:45] RichardKarlFuchs opened #51 "Car_ai (Einbinden von Pathfinding)"
- Autos haben immer eine Edge auf der sie gerade fahren und eine Spur, auf der sie am Ende dieser Edge sein möchten.
- Das Pathfinding kann beispielsweise eine Liste mit Edges und Spuren bereitstellen, woraus die nächste Edge geholt wird.
- Am Anfang kann man das eigentliche Fahren auf der Kreuzung auch weglassen und die Autos direkt an den Andang der neuen Edge teleportieren.

[2020-01-31 10:47] funketh commented on #48
Keine Warnings. Außerdem sollte man nicht etwas erben, wenn es nichts bringt

[2020-01-31 11:05] RichardKarlFuchs commented on #48
Alles klar

funketh <notifications@github.com> schrieb am Fr., 31. Jan. 2020, 11:47:

[2020-01-31 11:05] #48 closed, assigned to RichardKarlFuchs, Shafma, funketh, 1NG3M4R

[2020-01-31 11:46] Shafma opened #53 "Error in DespawnCars"
Wir iterieren in DespawnCars über eine Liste, die währenddessen modifiziert wird. Das wirft den Error _InvalidOperationException: Collection was modified; enumeration operation may not execute._

[2020-01-31 11:51] funketh commented on #51
* +1 für das teleportieren

Versteh ich nicht

[2020-01-31 14:27] #53 closed, assigned to Shafma

[2020-01-31 17:18] RichardKarlFuchs commented on #51
Wenn am Anfang (vor der eigentlichen Simulation) das Pathfinding die Routen
von allen Endpoints zu allen Endpoints berechnet, kann das als Liste von
Edges und zugehörigen Lanes gespeichert werden. Dabei ist gemeint, das
jeweils die Edge, auf der man sich befindet und die Spur, auf welcher man
sich befinden möchte, wenn die Edge zu Ende ist, gespeichert wird. Wenn die
car_ai dann merkt, dass sie am

[2020-01-31 23:26] #9 closed, assigned to Shafma, funketh

[2020-01-31 23:55] funketh commented on #51
verstehe nicht warum das pathfinding die lanes spezifizieren sollte. Wenn man abbiegt ist es eh egal in welche spur. außerdem war doch der sinn dass der path unabhängig von den lanes ist.

[2020-02-01 09:41] RichardKarlFuchs commented on #51
Deiner Meinung nach muss die Car_ai also selbst herausfinden, in welcher Spur sie sein muss, um richtig abbiegen zu können.

[2020-02-01 10:41] RichardKarlFuchs commented on #51
So wie das Pathfinding im Moment implementiert ist, wird ja bloß der weg zwischen den vertices als Weg gespeichert. Das bedeutet, dass die Autos selbst noch herausfinden müssen, auf welcher Edge sie jetzt unterwegs sein müssen und welche Spur sie dafür verwenden müssen, um am Vertex richtig abbiegen zu können. Es wäre deutlich effizienter, wenn das Pathfinding die Edge und die Zugehörigen Lanes sp

[2020-02-01 22:35] funketh opened #59 "berechenbare properties"
* aufgekommen in #58
* related link: https://stackoverflow.com/questions/2579329/cached-property-easier-way
* bei nicht veränderbaren objekten können manche berechenbare properties zwischengespeichert werden, aber das ist sehr verbos ohne irgendnen mechanismus

derzeitige Lösung wäre:
[code]
gewünscht wäre sowas:
[code]

[2020-02-01 23:11] funketh commented on #59
ok, anscheinend ist es nicht so einfach solche macros zu implementieren (https://stackoverflow.com/questions/14307298/basic-implementation-of-aop-like-attribute-using-standard-net-framework).
Man kann ja diese Form nutzen:
[code]

[2020-02-01 23:14] funketh commented on #59
das wäre wohl zu einfach gewesen, man kann in dem kontext nicht auf pos1 und pos2 zugreifen

[2020-02-01 23:21] funketh commented on #59
Berechne jetzt in #58 die Werte einfach im Konstruktor. Funktioniert in dem Fall gut genug, weshalb ich das hier erstmal schließe.

[2020-02-01 23:21] #59 closed, assigned to funketh

[2020-02-02 21:08] funketh commented on #10
Denke man sollte hierfür YAML nutzen: https://www.nuget.org/packages/SharpYaml/

[2020-02-02 21:20] RichardKarlFuchs commented on #10
Stimme dir zu, habe aber keine Ahnung, wie man das installiert.

[2020-02-02 21:22] funketh commented on #10
mithilfe des unity addons, mit dem wir auch die immutable data types hinzugefügt haben.
einfach in ner menubar von unity auf nuget gehen.

[2020-02-02 21:25] RichardKarlFuchs commented on #10
Ich versuchs mal...

funketh <notifications@github.com> schrieb am So., 2. Feb. 2020, 22:22:

[2020-02-02 21:27] funketh commented on #10
Muss auch nur einer machen, wenns commited ist wirds bei jedem automatisch geladen

[2020-02-02 21:47] RichardKarlFuchs commented on #10
Daraus schließe ich, dass du es schon gemacht hast

funketh <notifications@github.com> schrieb am So., 2. Feb. 2020, 22:28:

[2020-02-02 21:47] funketh commented on #10
nö, kann aber mal nen branch erstellen

[2020-02-05 23:58] funketh commented on #35
#61

[2020-02-05 23:58] #35 closed, assigned to funketh

[2020-02-06 00:23] #38 closed, assigned to RichardKarlFuchs, Sidlertime

[2020-02-06 20:13] funketh opened #66 "In Edge wird nicht das subclassen von GameObjectData genutzt"
https://github.com/rrickfox/traffic-sim/commit/c10d2731acfc7c1185dd06a88d5a534c06ef0ab5

Der base call enthielt schon aus gutem Grund den prefab.
Die Idee von GameObjectData ist, dass das game object im constructor automatisch erstellt wird.
Position und weitere Attribute können dann am gameObject bzw transform Feld geändert werden.

[2020-02-06 20:19] RichardKarlFuchs commented on #66
Das automatische erzeugen von einem Prefab war in der Variante, in der dieser Commit erzeugt wurde, nicht möglich. In der Version, die Jp jetzt gemacht hat, ist es durchaus möglich, die ursprüngliche Funktionalität wieder herzustellen. Tatsächlich habe ich ihm bereits dazu geraten, da jetzt nicht mehr viele einzelne Instanzen des Prefab erzeugt werden, sondern ein Straßenobjekt gebogen wird.

[2020-02-07 00:01] RichardKarlFuchs opened #67 "Ungenutzes Übergeben von roadPrefab in EndPoint"
Benötigen EndPoints überhaupt das RoadPrefab?
Es wird im Code nicht aufgerufen, ich glaube es stammt noch aus der Zeit, als der CarSpawner die Höhe des RoadPrefabs brauchte.
Kann man das Entfernen @funketh?

[2020-02-07 00:04] funketh commented on #67
ja, die road ist ja schon constructed

[2020-02-07 00:07] funketh commented on #66
https://github.com/rrickfox/traffic-sim/pull/65/commits/5059c170e89cfba88db47df1db2eb33aa558fd54

[2020-02-07 00:07] #66 closed, assigned to nobody

[2020-02-07 00:31] #67 closed, assigned to RichardKarlFuchs

[2020-02-08 01:13] RichardKarlFuchs opened #71 "Cars spawn on wrong lane"
- Das Spawnen mit unterschiedlichen freuquencies funktioniert mit frequency = 50, aber nicht mit frequency = 66
- Wenn frequency = 50, dann spawnen die Autos auf umgekehrten lanes
- Wenn frequency = 66, dann spawnen die Autos immer auf lane 0, außer beim ersten mal

[2020-02-08 15:36] RichardKarlFuchs commented on #71
02935e0

[2020-02-08 15:36] #71 closed, assigned to RichardKarlFuchs

[2020-02-09 16:58] konstibob opened #76 "Szenen Laden funktioniert nicht im fertigen Build. Nur im Editor"
#30

[2020-02-09 17:57] konstibob opened #77 "Bezier Szene funktioniert nicht mehr"

[2020-02-09 19:52] #77 closed, assigned to RichardKarlFuchs

[2020-02-09 22:09] funketh commented on #10
Sehr zu empfehlendes Programm für das Überprüfen von YAML Dateien:
Auf [GitHub](https://github.com/adrienverge/yamllint) bzw. [Homebrew](https://formulae.brew.sh/formula/yamllint)

[2020-02-09 22:10] funketh commented on #10
Gute Referenz für kompliziertere YAML Funktionalität: https://camel.readthedocs.io/en/latest/yamlref.html

[2020-02-09 22:58] funketh commented on #10
Hier ist das Wiki zu unserer Library: https://github.com/aaubry/YamlDotNet/wiki/Serialization.Deserializer
(Wir nutzen ne Fork von dem Projekt, dürfte aber aufs gleiche hinauslaufen)

[2020-02-10 16:47] funketh opened #79 "GUI - Auswählen einer zu ladenen Datei"
#11

https://docs.unity3d.com/ScriptReference/EditorUtility.OpenFilePanel.html

[2020-02-10 16:49] RichardKarlFuchs commented on #79
anderer Vorschlag: eine liste wo alle dateien im Saves ordner drin sind. Dazu ein Add button mit dem man weitere Dateien in den Ordner schieben kann.
Ein Auswahldialog geht aber eigentlich auch

[2020-02-10 17:02] funketh commented on #79
Kann man definitiv später hinzufügen (in nem neuen Issue), aber ein Dialog reicht denke ich vorerst

[2020-02-10 17:10] RichardKarlFuchs commented on #79
k

[2020-02-11 19:13] Sidlertime opened #81 "Kamera die Car folgt"
* Eine Kamera, welche einem auto folgt nachdem dieses angeklickt wurde in der freeCam

[2020-02-12 23:44] funketh commented on #49
Jetzt wo ich nochmal drüber nachdenke bin ich mir nicht sicher ob der Ansatz mit Kollisionserkennung von unsichtbaren Objekten so vorteilhaft ist.
Die Laufzeit für stupides Vergleichen mit allen anderen Autos der Straße läge ja bei n², wobei n die Anzahl an Autos auf der Straße ist.
Ersteinmal ist eine quadratische Laufzeit bei unserer Größenordnung für n garnicht so schlimm, da gibt es denke ich

[2020-02-12 23:57] funketh commented on #49
Okay fairerweise: k ist denke ich immer so zwischen 0 und 3 und kann denke ich als 1 angenommen bzw. ignoriert werden.

Finde halt nur, dass unser n vorerst bei so maximal 20 liegen wird und 400 loops (die fast nur simple vergleiche ausführen) jetzt nicht die welt sind.
Der Ansatz mit der sortierten Liste dürfte sich jedoch auch für große n bewähren, vor allem, da sich unsere Kollisionserkennung u

[2020-02-13 08:57] oh-trentmann commented on #49
Okay das ergibt Sinn. Wir können fürs erste die „einfache“ Variante über die Vergleiche mit allen Autos machen. Allerdings finde ich die Variante mit den Collidern cooler, da es realistischer ist dass die Autos nur um sich gucken können. Wäre ja was für Sprint 3

[2020-02-16 21:16] funketh opened #84 "void SetVariable() ist keine guter Namen für ne Methode die keine kein Setter von 'Variable' ist"
Sagt einem nämlich nichts außer "Irgendwas passiert mit der Variable".

Falls die Methode nur im Constructor genutzt wird wäre sowas wie `InitializeVariable()` gut.

Andernfalls sind es meist irgendwelche methoden die etwas updaten um Änderungen anderer Werte zu übernehmen. In dem Fall sollte `UpdateVariable()` genutzt werden denke ich.

[2020-02-16 21:22] funketh commented on #84
Meine jetzt spezifisch:
[code]
Außerdem wollte ich das generell ansprechen

[2020-02-16 21:26] RichardKarlFuchs commented on #84
nunja bei `EndPoint.SetWeights()` werden die RouteProbabilities zum ersten Mal gesetzt, was einem Setter ja ziemlich gleichkommt. Dabei wäre `CalculateRouteProbabilities()` vielleicht noch passend.
`Car.SetPosition()` könnte aber in `UpdatePosition()` umbenannt werden.

[2020-02-16 21:41] funketh commented on #84
Würde deinem ersten Punkt nicht zustimmen, Setter haben eine klare Bedeutung im Kontext von Java-ähnlichen Sprachen und akzeptieren auch immer einen Wert, zu dem die betreffende Variable gesetzt werden soll. (Mal davon abgesehen setzt die Methode nicht die weights).
`CalculateRouteProbabilities()` ist ok

[2020-02-17 20:36] #81 closed, assigned to Sidlertime

[2020-02-18 17:40] RichardKarlFuchs commented on #84
37c00bc

[2020-02-18 17:40] #84 closed, assigned to RichardKarlFuchs, funketh

[2020-02-23 13:58] #51 closed, assigned to RichardKarlFuchs, oh-trentmann

[2020-02-24 17:13] funketh opened #88 "Probleme mit Gewichten"
- Gewichte nehmen die Sortiertheit der routingTable Keys an, obwohl Dictionaries unsortiert sind
- derzeit hat man dies nicht bemerkt, da jeder EndPoint nur zu 1 anderen EndPoint führte
- Generell ist es für #62 unschön, wenn eine gewisse Reihenfolge der Vertices angenommen wird, da man diese dann auch in der YAML Datei beachten muss
- Vorschlag: nie nach index, sondern nach Value gehen (nach Vert

[2020-02-24 18:08] RichardKarlFuchs commented on #88
Eine Dictionary aus Vertex und Weight anzulegen halte ich prinzipiell für sinnvoll. Zu beachten ist dabei jedoch:
- Wenn nicht alle Vertices in der Dictionary auftauchen gibt es verschiedene Möglichkeiten, darauf zu reagieren:
  - Man *muss* alle Vertices im Weight aufführen
  - Alle Vertices, die nicht enthalten sind, haben ein weight von 0
  - Alle Vertices, die nicht enthalten sind, haben ein w

[2020-02-26 21:47] #10 closed, assigned to Shafma, funketh

[2020-03-02 18:56] oh-trentmann commented on #49
könnte jemand sich bitte die getFronCar()-Funktion angucken die funktioniert glaube ich nicht so gut

[2020-03-03 14:32] #76 closed, assigned to konstibob

[2020-03-05 20:27] funketh opened #90 "GUI - add Play/Pause buttons during simulation"

[2020-03-06 21:48] funketh opened #91 "GUI - Wirkungsloses Warning zu DontDestroyOnLoad"
In `MusicController.Start()` wird das MusicController GameObject als DontDestroyOnLoad gesetzt, damit es beim Szenenwechsel nicht despawned.
Dabei entsteht dieses Warning:
[code]
Es scheint jedoch keinerlei Auswirkungen auf die Fuhnktionalität zu haben.
Außerdem ist MusicController ein root GameObject.

[2020-03-06 21:59] funketh commented on #29
Inwiefern ist dieser Issue noch relevant? Was ist mit #39?

[2020-03-07 11:47] RichardKarlFuchs commented on #91
MusicController wird außerdem dupliziert, wenn man in das Hauptmenü zurückkehrt

[2020-03-07 12:27] RichardKarlFuchs opened #92 "GUI - Resume Simulation from main menu"
Wenn man von der laufenden Simulation ins Hauptmenü zurückkehrt läuft die Simulation nicht weiter. Stattdessen wird der Fehler `Dependency Cycle in a TypePublisher` geworfen.

[2020-03-07 14:42] funketh opened #94 "Autos beim Erstellen eine zufällige Farbe geben"

[2020-03-07 14:42] funketh commented on #94
Würde einiges übersichtlicher machen (und sieht toll aus)

[2020-03-07 21:02] funketh commented on #29
@rrickfox, @Sidlertime ?

[2020-03-07 21:14] funketh opened #98 "Ampeln implementieren"

[2020-03-07 22:26] funketh opened #99 "Ground mit geladener Simulation skalieren"

[2020-03-07 22:47] Sidlertime commented on #29
Also ich denke mal wir können die als done abhaken, also sowohl die theoretische Verbindung als auch die grafische Verbindung

[2020-03-07 22:54] #94 closed, assigned to nobody

[2020-03-08 21:45] funketh opened #100 "Straßen mit Spuren in nur eine Richtung haben trotzdem eine zusätzliche Mittellinie am linken Rand."

[2020-03-08 22:09] RichardKarlFuchs commented on #100
Wird gefixt in #86

[2020-03-09 20:21] #11 closed, assigned to konstibob, Sidlertime

[2020-03-10 20:08] funketh opened #104 "AI - Spurwechsel"

[2020-03-10 20:09] funketh opened #105 "AI - Ampeln"

[2020-03-10 20:10] funketh commented on #105
wartet auf #98

[2020-03-12 21:06] #49 closed, assigned to RichardKarlFuchs, funketh, oh-trentmann, RobertEggert

[2020-03-12 21:07] funketh opened #106 "YAML - Geschwindigkeitsbegrenzung einstellbar machen"
Derzeit ist die Geschwindigkeitsbegrenzung für alle Straßen auf 120 km/h festgesetzt.
Es sollte nicht sehr schwer sein, dies einstellbar zu machen

[2020-03-13 08:22] #88 closed, assigned to RichardKarlFuchs, funketh

[2020-03-13 19:19] #79 closed, assigned to konstibob, Sidlertime

[2020-03-13 19:19] #90 closed, assigned to Sidlertime

[2020-03-13 19:19] #91 closed, assigned to Sidlertime

[2020-03-13 19:19] #92 closed, assigned to Sidlertime

[2020-03-13 20:44] funketh opened #109 "develop funktioniert nicht"
Beim Auswählen einer zu ladenen Datei kriegt man diesen schönen Error:
[code]
Des weiteren gibt es noch eine `Assets/Scripts/Interface/UIElements.meta` Datei, die nicht gebraucht wird.
Es wirkt irgendwie so, als wäre #101 am Ende nicht nochmal getestet worden.

@Sidlertime

[2020-03-13 20:47] RichardKarlFuchs commented on #109
Hatte funktioniert als ich gereviewed hab

[2020-03-13 20:54] funketh commented on #109
Danach wurde ja noch was geändert.
Bei mir hatte es auch vorher funktioniert, aber probier doch mal develop aus

[2020-03-13 21:17] #109 closed, assigned to Sidlertime

[2020-03-13 23:37] #29 closed, assigned to RichardKarlFuchs, Sidlertime

[2020-03-13 23:37] #39 closed, assigned to RichardKarlFuchs, Sidlertime

[2020-03-13 23:37] #100 closed, assigned to RichardKarlFuchs, Sidlertime

[2020-03-14 01:17] #27 closed, assigned to domiblack

[2020-03-14 01:23] RichardKarlFuchs opened #112 "displayed speed not updating"
In `feature/UI_Update`, wenn man ein Auto auswählt, und dann ein anderes Auto auswählt, wird die angezeigte Geschwindigkeit nicht angepasst und aktualisiert.

[2020-03-14 04:59] #98 closed, assigned to Shafma, konstibob

[2020-03-14 04:59] #105 closed, assigned to Shafma, konstibob, funketh, oh-trentmann, RobertEggert, 1NG3M4R

[2020-03-14 09:00] RichardKarlFuchs commented on #106
#113

[2020-03-14 09:00] #106 closed, assigned to Shafma

[2020-03-14 12:25] #112 closed, assigned to Sidlertime

[2020-03-15 00:15] funketh opened #120 "AI - Autos überfahren einfach das Auto vor ihnen, wenn dieses vor der Ampel steht"

[2020-03-15 00:25] funketh commented on #99
#119 fixt das so mittelmäßig, indem Ground einfach sehr groß skaliert ist

[2020-03-15 00:27] RichardKarlFuchs commented on #99
Ist es nicht möglich den äußersten Punkt in jeder Richtung zu finden?

[2020-03-16 19:50] RichardKarlFuchs opened #121 "grafische Darstellung von Ampeln"

[2020-03-19 21:05] RichardKarlFuchs opened #122 "Ampeln drehen sich in alle in eine Richtung bei four_sections.yaml"

[2021-03-18 22:42] RichardKarlFuchs opened #124 "Verbesserte Ampeln"
Statt Dauer von Rot, Gelb und Grün-Phasen für jeweils zwei gegenüberliegende Straßen mit allen Spuren.
### Funktional:
- Benutzerdefinierte Phasen
  - Hinzufügen von einzelnen Spuren
  - Dauer festlegen
- Möglichkeit mehrere Kreuzungen in selber Ampelschaltung zu vereinen
- einfach in YAML zu schreiben
- Möglichkeit offenlassen, später in Editor zu bearbeiten
- Möglichkeit im YAML die Spuren direk

[2021-03-18 22:52] RichardKarlFuchs opened #125 "Add another, more complicated example"
Ich schlage das Ende der Stadtautobahn / Kreuzung Schloßstraße-Wolfensteindamm in Steglitz vor. Die Kreuzung ist auch wenn man da ist verdammt kompliziert.
Umsetzung erfordert T-Kreuzungen, möglicherweise Zusammenführungen

[2021-03-18 22:57] RichardKarlFuchs opened #126 "Add T-Sections, merges and splits"
### T-Kreuzugen:
Funktionalität wie Crossection, bloß 3 Straßen statt 4

### Merge & Split
Zusammenführen von 2 Straßen (zb. 2 hin, 2 zurück und 1 Einbahn) wie bei Autobahnauf- und Abfahrten

[2021-03-20 19:43] RichardKarlFuchs opened #127 "Add more Debug info"
Alle Informationen sollten im Inspektor ein- und ausschaltbar sein.
Ideen:
- Routen von jedem Startpunkt aus anzeigen lassen
- Verbindungen auf den Kreuzungen anzeigen
- Straßenplan als Netz-Overlay
- Ampeln als große Kreise/Kugeln über der Kreuzung
- Originpoints der Straßen
- Kontrollpunkte der Straßen anzeigen

[2021-03-23 21:28] RichardKarlFuchs opened #128 "Cars stand still, when front car is standing at a traffic light"
Caused by taking the max of the cars own acceleration (0) and the one of the car in front (also 0)

[2021-03-23 21:54] RichardKarlFuchs opened #129 "Add ability to get the car in front even on the next Edge (or ITrack)"
Wenn ein Auto als zweites an der Ampel steht und das erste die Ampel bereits überfahren hat, kann das zweite ganz beschleunigen, auch wenn das erste Auto das nicht zulassen würde.
Genauso kann das passieren, wenn zwei Edges mit einem Merge beispielsweise aufeinander treffen, wo keine direkte Regelung des Verkehrs existiert.

[2021-04-01 19:01] #99 closed, assigned to nobody

[2021-04-01 19:01] #104 closed, assigned to funketh, oh-trentmann, RobertEggert, 1NG3M4R

[2021-04-01 19:01] #128 closed, assigned to RichardKarlFuchs

[2021-04-01 19:15] #121 closed, assigned to RichardKarlFuchs, Sidlertime

[2021-04-01 19:15] #122 closed, assigned to RichardKarlFuchs

[2021-04-01 19:16] RichardKarlFuchs commented on #120
Seems to be fixed by #119

[2021-04-01 19:16] #120 closed, assigned to nobody

[2022-01-31 19:28] RichardKarlFuchs opened #133 "Add ability to offset edge on vertex sideways"
Wenn eine Kante auf eine Krezung trifft (besonders bei Einbahnstraßen) ist die Ausrichtung anhand der "Mitte" der Straße ungünstig. Eine Möglichkeit die Kante also nach rechts (Kreuzung ist oben) - also positiv - oder nach links - negativ - verschieben zu können wäre dabei hilfreich

[2022-01-31 21:18] RichardKarlFuchs opened #134 "Reduce Speedlimit based on curvature of roadShape"
Calculate curvature of bezier curves and calculate allowable speed based on maximum curvature.

[2022-01-31 21:22] rrickfox opened #135 "Reduce speed limit based on curvature of RoadShape"
Calculate curvature of bezier curves and calculate allowable speed based on maximum curvature.

[2022-01-31 21:25] RichardKarlFuchs opened #136 "Move BirdCamera for large networks"
When opening large maps not all of the area can be seen

[2022-02-01 14:07] #129 closed, assigned to RichardKarlFuchs

[2022-02-10 17:06] RichardKarlFuchs commented on #134
Implemented in e4e9133, needs improvement

[2022-02-10 17:15] RichardKarlFuchs commented on #124
Implemented basic functionality in 7261308
Sections can now have individual timings for each laneType and edge

[2022-02-10 17:16] RichardKarlFuchs commented on #124
Explicit connecting of edges in YAML is still open, same with offsetting the edges to the side.
Graphic trafficLights also need to be reworked, lanes might need road markings

[2022-02-11 21:09] RichardKarlFuchs commented on #124
Implemented functionality for TeeSections in f0f1a50
NOTE: This is still not really stable for example.yaml, probably has something to do with laneChanging in short of a distance